.main{
  position: relative;
  display: flex;
  height: 35vh;

  overflow: hidden;
}

.sliderContainer{
  position: absolute;
    border: 1px solid #0A0A0A;
      top: 20%;

}

.slider{
  position: relative;
  white-space: nowrap;
}

.slider p{
  position: relative;
  margin: 0px;
  color: rgb(0, 0, 0);
  font-size: 230px;
  font-weight: 500;
  padding-right: 50px;
}

.slider p:nth-of-type(2){
  position: absolute;
  left: 100%;
  top: 0;
}