.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  width: 100%;
  height: 100%;
}


.text {
  margin-top: 1rem;
  text-align: left;
  max-width: 1000px;
  color: #ccc;
}

.text h1 {
  font-size: 10rem;
  margin-bottom: 5rem;
  font-family: var(--font-HelveticaBold-mono);
}



  .description{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    .body{
        /* left: 2rem; */
        max-width: 1000px;
        display: flex;
        gap: 50px;
        position: relative;
        p{
            color: #ccc;
            margin: 0px;
            &:nth-of-type(1){
                font-size: 1.5rem;
                gap: 8px;
                line-height: 1.6;
                span{
                    margin-right: 3px;
                }
                .mask{
                    position: relative;
                    overflow: hidden;
                    display: inline-flex;
                }
            }
  
        }
      }
    }


    .videoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40rem;
    margin-top: 4rem;


  }
  .video {
    margin-top: 1rem;
    max-width: 65rem;

  }




    @media screen and (max-width: 768px) {
      .text h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
        margin-left: 0.4rem;
      }
    
      .description .body {
        gap: 20px;
        left: 0.5rem;
      }
    
      .description .body p:nth-of-type(1) {
        font-size: 1rem;
        line-height: 1.5;
        
      }

    

    }



    @media screen and (max-height: 500px) and (orientation: landscape) {
      .text h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
        margin-left: 0.5rem;
      }
    
      .description .body {
        gap: 20px;
        left: 0.5rem;
      }
    
      .description .body p:nth-of-type(1) {
        font-size: 1rem;
        line-height: 1.5;
        
      }

    

    }